../../.VirtualBox/
        ../../.cache/
        ../../.dbus-keyrings/
        ../../.docker/
        ../../.eclipse/
        ../../.gitconfig
        ../../.lesshst
        ../../.matplotlib/
        ../../.node_repl_history
        ../../.p2/
        ../../.ssh/
        ../../.vscode/
        ../../AppData/
        ../../COS-457-Course-Project/
        ../../Contacts/
        ../
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Microsoft VS Code/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{4986dafa-f5aa-11ed-9541-cd6c11ac4428}.TM.blf
        ../../NTUSER.DAT{4986dafa-f5aa-11ed-9541-cd6c11ac4428}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{4986dafa-f5aa-11ed-9541-cd6c11ac4428}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../Saved Games/
        ../../Searches/
        ../../Thonny/
        ../../Videos/
        ../../VirtualBox VMs/
        ../../arxiv_papers.db
        ../../eclipse-workspace/
        ../../eclipse/
        ../../edb_languagepack_4.exe
        ../../edb_npgsql.exe
        ../../edb_pgagent_pg16.exe
        ../../edb_pgbouncer.exe
        ../../edb_pgjdbc.exe
        ../../edb_psqlodbc.exe
        ../../edb_psqlodbc.exe-20231113141705
        ../../helloWorld/
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../postgresql_11.exe
        ../../postgresql_12.exe
        ../../postgresql_13.exe
        ../../postgresql_16.exe